*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #1B1924;
    color: #fff;
    text-align: center;
}

button, 
textarea,
input {
    border: none;
}

.container {
    display: flex;
    flex-direction: column;

    max-width: 320px;
    margin: 30px auto;
}

img {
    width: 90px;
    height: 90px;
    margin: 0 auto;
}

.header-container {
    display: flex;
    flex-direction: column;
}

#publish-btn {
    margin-top: 10px;
}
.endorsements-container{
    display: flex;
    flex-wrap: wrap;
    color: black;
    gap: 10px;
}

.endorsements-container > p {
    padding: 10px;
    background-color: #FFFDF8;
    color: inherit;
}
